[Unit]
Description=PITS Tracker Service
 
[Service]
ExecStart=/home/pi/PISKY_Pure/tracker/startup
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=tracker.service

